@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-cyber-black: #0a0a0c;
  --color-cyber-dark: #13131f;
  --color-neon-cyan: #00f3ff;
  --color-neon-purple: #bc13fe;
  --color-neon-green: #0aff0a;
  
  --font-mono: "JetBrains Mono", monospace;
  --font-display: "Orbitron", sans-serif;

  --shadow-neon-blue: 0 0 10px #00f3ff, 0 0 20px #00f3ff44;
  --shadow-neon-purple: 0 0 10px #bc13fe, 0 0 20px #bc13fe44;
}

@layer base {
  body {
    @apply bg-[#050505] text-slate-200 font-mono antialiased overflow-x-hidden selection:bg-neon-cyan selection:text-black;
    background-image: 
        radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
        radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
        radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-[#13131f]/70 backdrop-blur-[10px] border border-white/10;
  }

  .scanline {
    width: 100%;
    height: 100px;
    z-index: 10;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0, 243, 255, 0.1) 50%, rgba(0,0,0,0) 100%);
    opacity: 0.1;
    position: fixed;
    bottom: 100%;
    animation: scanline 10s linear infinite;
    pointer-events: none;
  }
}

@keyframes scanline {
  0% { bottom: 100%; }
  100% { bottom: -100%; }
}
